<main class="tt-page-main">
  <section class="mx-auto flex min-h-[68vh] max-w-3xl items-center justify-center px-6 py-16">
    <%= link_to support_talk_page_path,
                class: "inline-flex flex-col items-center gap-2 no-underline",
                data: { turbo_frame: "_top" },
                aria: { label: "サポートページへ" } do %>
      <span class="tt-symbol-easter-egg-bubble">隠しリンク</span>
      <%= image_tag "Symbol.svg", alt: "Symbol", class: "tt-symbol-easter-egg-image" %>
      <span class="tt-symbol-easter-egg-tap">Tap Me!</span>
    <% end %>
  </section>
</main>
